<% fillings = ["Carnitas", "Al Pastor", "Steak", "Fish", "Veggies"] %>

<h1>I love tacos!</h1>
<p> There are so many amazing adnd great tacos:</p>
<ul>
  <% for filling in fillings %>
  <li><%= filling %></li>
  <% end %>
</ul>